# **Q1**

**Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

**Answer:**

In [1]:
import pandas as pd

data =([4,8,15,16,23,42])

ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# **Q2**

**Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**


**Answer:**

In [2]:
data =([4,8,15,16,23,42,3,5,6,2])
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
6     3
7     5
8     6
9     2
dtype: int64

# **Q3**

**Create a Pandas DataFrame that contains the following data:**

    
**Answer:**

In [3]:
data = {"Name":["Alice" , "Bob","Claire"],
       "Age":[25,30,27],
       "Gender":["Female" , "Male","Female"]}

In [4]:
df= pd.DataFrame(data)

In [5]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# **Q4**

**What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

**Answer:**

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of a single data type. It is similar to a single column of a DataFrame. A Series is indexed, meaning each element in the Series has a unique label.

In [6]:
# Creating a DataFrame
data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 30],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   30     Paris

In the above example, we created a DataFrame called df with three columns: 'Name', 'Age', and 'City'. Each column represents a Series, where the column labels ('Name', 'Age', 'City') act as the index labels for each Series.

In [7]:
name_series = df['Name']
print(name_series)

0     John
1     Emma
2    Peter
Name: Name, dtype: object

Here, name_series is a Series object representing the 'Name' column of the DataFrame. It has the same index labels as the DataFrame but only contains the values from the 'Name' column.


# **Q5**

**What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?**

**Answer:**

 * head()
 * tail()
 * info()
 * describe()
 * groupny()
 * sort_values()
 * merge()
 * fillna()


 * head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame.

In [8]:
df

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   30     Paris

In [9]:
df.head(2)

   Name  Age      City
0  John   25  New York
1  Emma   28    London

In [10]:
df.tail(2)

    Name  Age    City
1   Emma   28  London
2  Peter   30   Paris

# **Q6**

**Which of the following is mutable in nature Series, DataFrame, Panel?**

**Answer:**


In pandas, both Series and DataFrame are mutable, meaning you can modify their values, add or remove elements, and perform various data manipulations on them.

A Series is mutable because you can change the values of individual elements in the Series or add/remove elements using indexing or assignment operations.

Similarly, a DataFrame is mutable as well. You can modify the values in specific cells, add or remove columns or rows, perform computations, and apply various data transformations on the DataFrame.

On the other hand, a Panel in pandas is an n-dimensional data structure, similar to a DataFrame but with an additional dimension. However, as of pandas version 1.0.0, the Panel structure is considered deprecated. It is recommended to use other data structures like DataFrame or multi-indexed DataFrame instead.

# **Q7**

**Create a DataFrame using multiple Series. Explain with an example.**

**Answer:**

In [13]:
# Create a Series for each column
name_series = pd.Series(['John', 'Emma', 'Peter'])
age_series = pd.Series([25, 28, 30])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Combine the Series into a dictionary
data = {'Name': name_series, 'Age': age_series, 'City': city_series}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   30     Paris

we created three Series: name_series, age_series, and city_series, each representing a column of the DataFrame. We then combined these Series into a dictionary called data, where the keys ('Name', 'Age', 'City') correspond to the column names, and the values are the respective Series.Then we passed the data dictionary to the pd.DataFrame() constructor, which created the DataFrame df. The resulting DataFrame has three columns: 'Name', 'Age', and 'City', with the values populated from the respective Series. The index labels of the DataFrame are automatically assigned based on the index labels of the Series.